---
layout: default
background: /img\posts\06.jpg
---
<!-- Hover-Effect -->
<style>
  .post-preview {
    transition: transform 0.3s ease-in-out; /* Adding a smooth transition effect */
  }

  .post-preview:hover {
    transform: scale(1.1); /* Scale the element to 110% of its original size on hover */
  }
</style>

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <img style="border: 5px solid #555; border-radius: 50%; width: 200px; height: auto; display: block; margin: 0 auto;" class="img-fluid" src="/img/posts/headshot.jpeg" alt="Profile Picture">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Paragraph about yourself -->
        
        <div>
          <p style="text-align: justify;">Hello, I'm Mnguni. I have a Bachelor's degree in Commerce with a focus on financial analysis. I have worked in production as well as e-commerce. In my Career Foundry course I developed an expertise in data cleaning, wrangling and visualisation using Excel, SQl and Python.</p>
          
          <p style="text-align: justify;">I'm passionate about historcial and predictive analyses as well as machine learning. Feel free to explore my portfolio page to learn more about me and the projects I like to work on. If you have any questions or suggestions, don't hesitate to contact me!</p>
          <div>
            <div style="text-align: center;">
              <p><b>My Data Skills:</b>
                <ul style="list-style-type:disc; text-align: left;">
                <li>Data Cleaning & Preparation</li>	
                <li>Data Wrangling</li>    	
                <li>Exploratory & Descriptive Statistics</li>
                <li>Data Integration</li>	
                <li>Data Visualisation</li>	
                <li>Drawing business requirements</li>  	
                <li>Data Ethics & Safety</li>  
                <li>Data Mining</li>  
                </ul>
              </p>
            </div>
            <div style="text-align: center;">
              <p><b>My Toolset:</b>
              <ul style="list-style-type:disc; text-align: left;">
              <li>PostgreSQL</li>	
              <li>Microsoft Excel</li>    	
              <li>Python</li>
              <li>Tableau</li>	 
              </ul>
              </p>
            </div>
          </div>
          <br>
          <div>
            <a href="/CV_compressed/Zulu_Mnguni_Resume.zip" class="btn btn-primary" download>Download My Resume</a>
            <a href="/CV_compressed/Zulu_Mnguni_Lebenslauf.zip" class="btn btn-primary" download>Lebenslauf herunterladen</a>
          </div>
        </div> 
        <br>
        <br>

        <!-- Header -->
          <h2>Projects</h2>
        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}
    
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <img style="border: 5px solid #555" src="{{ post.image_url }}" alt="{{ post.title }}" class="img-thumbnail">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Projects &rarr;</a>
        </div>

      </div>
    </div>
  </div>
